p {
    background-color: black;
    color: white;
    
}

h1{
    border: 2px solid white;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

body {
    background-color: gold;
}